@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: white;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px) scale(1);
    opacity: 0.35;
  }
  50% {
    transform: translateY(-14px) scale(1.15);
    opacity: 1;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}